<h1 class="titre-forum">
  Le forum
</h1>

<div class="wrapper">
  <div class="sidebar">
      <a class="categorie" href="#">Les sujets les plus tendances</a>
      <a class="categorie" href="#">Présentations</a>
      <a class="categorie" href="#">Actualités</a>
      <a class="categorie" href="#">Tutoriels</a>
      <a class="categorie" href="#">Aide</a>

      <!-- <a class="categorie" *ngFor="let categorieJeu of categoriesJeu" href="jeux/categorie/{{categorieJeu.idCategorieJeu}}">{{categorieJeu.libelle}}</a>-->

  </div>
</div>
