<div *ngIf="sujet != null">  
  <div class="wrapper">
    <div class="sidebar">
        <a class="categorie" [routerLink]="['/forum']" [ngClass]="{'selected' : idCategorieForum==null}">Les sujets les plus populaires</a>
        <!-- <a class="categorie" href="#">Présentations</a>
        <a class="categorie" href="#">Actualités</a>
        <a class="categorie" href="#">Tutoriels</a>
        <a class="categorie" href="#">Aide</a> -->
        <a class="categorie" *ngFor="let categorieForum of categoriesForum" [routerLink]="['/forum/categorie/',categorieForum.idCategorie]"
        [ngClass]="{'selected' : categorieForum.idCategorie==idCategorieForum}">
          {{categorieForum.libelle}}
        </a>
    </div>
  
    <div class="list-commentaires">
      <li class="cmmnt" id="sujet">
        <div class="fistfucking">
            <app-vote-sujet [sujet]="sujet" (aVote)="refresh()"></app-vote-sujet>
            <div class="cmmnt-content">
              <p class="titre-sujet">{{sujet.categorieForum.libelle}}</p>
              <h3>{{sujet.libelle}}</h3>
              <p class="pubdate">
                Posté par {{sujet.joueur.pseudo}} le {{sujet.dateCreation | date:"dd/MM/yyyy"}} à {{sujet.dateCreation | date:"H:mm"}} | 
                <span *ngIf="sujet.nombreCommentaires > 0">{{sujet.nombreCommentaires}} commentaires</span>
                <span *ngIf="sujet.nombreCommentaires == 0">Aucun commentaire</span>
              </p>
              <p class="contenu">{{sujet.descriptif}}</p>
              <span class="btn-reply" (click)="toggle()"><i class="fas fa-reply"></i> Répondre</span>
              <a href="" class="btn-share"><i class="fas fa-share"></i> Partager</a>
              <a href="" class="btn-signaler"><i class="fas fa-exclamation-circle"></i> Signaler</a>
              <app-reponse-commentaire class="wrap" 
                *ngIf="repond" 
                [sujet]="sujet" [joueurCo]="joueurCo" (repondu)="refresh()">
              </app-reponse-commentaire>
            </div>
        </div>
        
        <div class="replies">
          <app-commentaire class="cmmnt" 
          *ngFor="let commentaireParent of commentairesParent" 
          [commentaire]="commentaireParent" [sujet]="sujet" (enfantRepondu)="refresh()"></app-commentaire>
        </div>
  
      </li>
  
    </div>
  
  </div>      
</div>