.list-sujet {
    display: flex;
    flex-direction: column;
}

.sujet {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.vote {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.infos-sujet {

}

.infos-sujet a {
    color: #333333;
}