.list-sujet {
    display: flex;
    flex-direction: column;
}

.titre-sujet {
    text-decoration: none;
}

.sujet {
    margin: 0 80px 0 80px;
    /* padding-top: 0;
    padding-left: 30px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #ddd;
}

.vote {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5px 20px 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.infos-sujet {
    padding: 5px 50px 0 30px;
    text-align: justify;
}

.infos-sujet a {
    color: #333333;
}

.titre-forum {
    margin: 0 auto;
    font-family: 'Oswald', 'Montserrat', Arial;
    text-align: center;
    padding: 30px 0px 0px 0px;
}

.note {
    font-size: 20px;
}

.detail-sujet {
    font-style: italic;
    font-size: 14px;
    color: #636e72;
}

.nb-commentaire {
    text-decoration: none;
    font-size: 13px;
}

.nb-commentaire:hover {
    color:#fed136;
}

.btn-share {
    text-decoration: none;
    font-size: 13px;
    padding-left: 20px;
}

.btn-signaler {
    text-decoration: none;
    font-size: 13px;
    padding-left: 20px;
}
