<h1 class="titre-forum">
  Le forum
</h1>

<div class="wrapper">
  <div class="sidebar">
      <a class="categorie" [routerLink]="['/forum']" [ngClass]="{'selected' : idCategorieForum==null}">Les sujets les plus populaires</a>
      <!-- <a class="categorie" href="#">Présentations</a>
      <a class="categorie" href="#">Actualités</a>
      <a class="categorie" href="#">Tutoriels</a>
      <a class="categorie" href="#">Aide</a> -->
      <a class="categorie" *ngFor="let categorieForum of categoriesForum" [routerLink]="['/forum/categorie/',categorieForum.idCategorie]" 
      [ngClass]="{'selected' : categorieForum.idCategorie==idCategorieForum}">
        {{categorieForum.libelle}}
      </a>
  </div>
  
  <div class="list-sujet">
    <div class="sujet" *ngFor="let sujet of sujets">
        <app-vote-sujet class="vote" [sujet]="sujet" (aVote)="refresh()"></app-vote-sujet>
        <!-- <div class="vote">
              <i class="fas fa-angle-up fa-2x" [ngClass]="{'upvoted' : sujetsUpvoted.includes(sujet)}" (click)="upvote(sujet)"></i>
          <p class="note">{{sujet.note}}</p>
          <i class="fas fa-angle-down fa-2x" [ngClass]="{'downvoted' : sujetsDownvoted.includes(sujet)}" (click)="downvote(sujet)"></i>
        </div> -->
        <div class="infos-sujet">
          <a [routerLink]="['/forum/sujet/',sujet.idSujet]"><h3>{{sujet.libelle}}</h3></a> 
          <span class="detail-sujet">Posté par {{sujet.joueur.pseudo}} le {{sujet.dateCreation | date:"dd/MM/yyyy"}} à {{sujet.dateCreation | date:"H:mm"}}</span>
          <p class="contenu">{{sujet.descriptif}}</p>
          <a href="" class="nb-commentaire"><i class="far fa-comments"></i> {{sujet.nombreCommentaires}} commentaires</a>
          <a href="" class="btn-share"><i class="fas fa-share"></i> Partager</a>
          <a href="" class="btn-signaler"><i class="fas fa-exclamation-circle"></i> Signaler</a>
        </div>
    </div>
  </div>
</div>
