<div id="navSearch">
  <input id="searchInput" type="text" placeholder="Recherche"
  [(ngModel)] = "searchValue"
    (keyup)="motsCles.next($event.target.value)"/>

  <div *ngIf="resultats" class="navResults">
    <ul *ngIf="resultatsJeu">
      <li *ngFor="let resultatJeu of resultatsJeu">
        <span class="categorie-recherche">Jeu</span>
        <a class="lien-resultat" [routerLink]="['/jeux/', resultatJeu.idJeu]">{{resultatJeu.libelle}}</a>
      </li>
    </ul>

    <ul *ngIf="resultatsJoueur">
      <li *ngFor="let resultatJoueur of resultatsJoueur">
        <span class="categorie-recherche">Joueur</span> 
        <a class="lien-resultat" [routerLink]="['/tableau-de-bord/', resultatJoueur.idUtilisateur]">{{resultatJoueur.pseudo}}</a>
      </li>
    </ul>

    <ul *ngIf="resultatsSujetForum">
      <li *ngFor="let resultatSujetForum of resultatsSujetForum">
        <span class="categorie-recherche">Sujet Forum</span> 
        <a class="lien-resultat" [routerLink]="['/forum/sujet/', resultatSujetForum.idSujet]">{{resultatSujetForum.libelle}}</a>
      </li>
    </ul>

    <ul *ngIf="resultatsArticle">
      <li *ngFor="let resultatArticle of resultatsArticle">
        <span class="categorie-recherche">Article</span> 
        <a class="lien-resultat" [routerLink]="['/boutique/article/', resultatArticle.idArticle]">{{resultatArticle.libelle}}</a>
      </li>
    </ul>
  </div>
</div>

